= form_for @performance_request do |f|
  - if @performance_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@performance_request.errors.count, "error")} prohibited this performance_request from being saved:"
      %ul
        - @performance_request.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'optional', class: 'optional'

  .field
    = f.label :first_name, 'First Name'
    = f.text_field :first_name
  .field
    = f.label :last_name,  'Last Name'
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :organization, 'Performance For'
    = f.text_field :organization
  .field
    = f.label :date , 'Date and Time of Performance'
    = f.datetime_select :date, :minute_step => 15, :ampm => true
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :adr_line1 , 'Address Line 1'
    = f.text_field :adr_line1
  .field
    = f.label :adr_line2 , 'Address Line 2', class: 'optional'
    = f.text_field :adr_line2
  .field
    = f.label :city , 'City'
    = f.text_field :city
  .field
    = f.label :state , 'State'
    = f.text_field :state
  .field
    = f.label :zip , 'Zip'
    = f.text_field :zip
  .field
    = f.label :kind , 'Type of Performance'
    = f.select :kind, ['','Private','Public']
  .field
    = f.label :dress, 'Type of Attire'
    = f.select :dress, ['','Formal','Casual']
  .field
    = f.label :description, 'Why Aggie Wranglers?'
    = f.text_area :description
  .actions
    = f.submit 'Submit'
