= form_for @performance_request do |f|
  - if @performance_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@performance_request.errors.count, "error")} prohibited this performance_request from being saved:"
      %ul
        - @performance_request.errors.full_messages.each do |msg|
          %li= msg
  
  %p
    %b Personal Contact Information:
  .field
    = f.label :first_name, 'First Name'
    = f.text_field :first_name
  .field
    = f.label :last_name,  'Last Name'
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :number, 'Phone Number', class: 'optional'
    = f.text_field :number
  %p
    %b Your Address so that we may thank you:
  .field
    = f.label :padr_line1 , 'Address Line 1: ' , class: 'optional'
    = f.text_field :padr_line1
  .field
    = f.label :padr_line2 , 'Address Line 2: ' , class: 'optional'
    = f.text_field :padr_line2
  .field
    = f.label :p_city , 'City: ' , class: 'optional'
    = f.text_field :p_city
  .field
    = f.label :p_state , 'State: ' , class: 'optional'
    = f.text_field :p_state
  .field
    = f.label :p_zip , 'Zip: ' , class: 'optional'
    = f.text_field :p_zip
  %p
    %b Performance Information
  .field
    = f.label :organization, 'Performance For'
    = f.text_field :organization
  .field
    = f.label :start_at , 'Date and Time of Performance'
    = f.datetime_select :start_at, :minute_step => 15, :ampm => true
  .field
    = f.label :location
    = f.text_field :location
  %p
    %b Address:
  .field
    = f.label :adr_line1 , 'Address Line 1'
    = f.text_field :adr_line1
  .field
    = f.label :adr_line2 , 'Address Line 2' , class: 'optional'
    = f.text_field :adr_line2
  .field
    = f.label :city , 'City'
    = f.text_field :city
  .field
    = f.label :state , 'State'
    = f.text_field :state
  .field
    = f.label :zip , 'Zip'
    = f.text_field :zip
  %p
    %b Details:
  .field
    = f.label :kind , 'Type of Performance'
    = f.select :kind, ['','Private','Public']
  .field
    = f.label :dress, 'Type of Attire'
    = f.select :dress, ['','Formal','Casual']
  .field
    = f.label :description, 'Why Aggie Wranglers?'
    = f.text_area :description
  .actions
    = f.submit 'Submit'
