%h1 Open Performance Requests

%table
  %tr
    %th First name
    %th Last name
    %th Email
    %th Performance For
    %th Date
    %th Location
    %th Private
    %th Type
    %th Dress
    %th Description
    %th Status
    %th
    %th

  - @performance_requests.each do |performance_request|
    %tr
      %td= performance_request.first_name
      %td= performance_request.last_name
      %td= performance_request.email
      %td= performance_request.organization
      %td= performance_request.date
      %td= performance_request.location
      %td= performance_request.kind
      %td= performance_request.dress
      %td= performance_request.description
      %td= performance_request.status
      %td= link_to 'Show', performance_request
      %td= link_to 'Edit', edit_performance_request_path(performance_request)
      %td= link_to 'Destroy', performance_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Submit New Performance Request', new_performance_request_path
