%p#notice= notice

%p
  %b First name:
  = @performance_request.first_name
%p
  %b Last name:
  = @performance_request.last_name
%p
  %b Email:
  = @performance_request.email
%p
  %b Organization:
  = @performance_request.organization
%p
  %b Date:
  = @performance_request.date
%p
  %b Location:
  = @performance_request.location
%p
  %b Type:
  = @performance_request.kind
%p
  %b Dress:
  = @performance_request.dress
%p
  %b Description:
  = @performance_request.description



= form_tag @performance_requests_path, :method => :put do 

  = label :performance_request, :status, 'Status'
  = select :performance_request, :status, ['Pending','Accepted','Rejected']
  = submit_tag 'Update Status'

= link_to 'Edit', edit_performance_request_path(@performance_request)
\|
= link_to 'Back', performance_requests_path
