= form_for @request do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name, 'First Name'
    = f.text_field :first_name
  .field
    = f.label :last_name, 'Last Name'
    = f.text_field :last_name
  .field
    = f.label :email, 'Email'
    = f.text_field :email
  .field
    = f.label :organization , 'Organization'
    = f.text_field :organization
  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :description, 'Why Aggie Wranglers?'
    = f.text_area :description
  .actions
    = f.submit 'Submit'
