%p#notice= notice

%p
  %b First name:
  = @request.first_name
%p
  %b Last name:
  = @request.last_name
%p
  %b Email:
  = @request.email
%p
  %b Organization:
  = @request.organization
%p
  %b Date:
  = @request.date
%p
  %b Location:
  = @request.location
%p
  %b Description:
  = @request.description

= link_to 'Edit', edit_request_path(@request)
\|
= link_to 'Back', requests_path
