<!DOCTYPE html>
<html>
<head>
  <title>WranglersPortal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      
     <%= flash_messages %>

     <%= yield %>
   
   </div><!-- /container -->
 
     
     <p align="center">
     <% if admin_signed_in? %>
       <%= link_to "Sign out", destroy_admin_session_path, :method => :delete, :style=>'color:#fde5a7;', :class => 'btn btn-info' %>
     <% else %>
       <%= link_to('Sign in', new_admin_session_path, :style=>'color:#fde5a7;', :class => 'btn btn-info') %>
     <% end %>
     </p>
</body>
</html>
